[Unit]
Description=Watch for display changes and react

[Service]
ExecStart=%h/.local/scripts/displaywatch
Restart=always
Environment=DISPLAY=:0
Environment=XAUTHORITY=%h/.Xauthority

[Install]
WantedBy=default.target
